<section class="chat-wrapper">
    <div class="container">
      <div class="row">
      <div class="col-md-3">
          <% if current_user.role == 'landlord' %>
            <%= render 'landlords/sidebar' %>
          <% else %>
            <%= render 'tenants/sidebar' %>
          <% end %>
      </div>
        <div class="col-md-4">
          
          <div class="tab-content tab-content-01 custom-scrollbar mt-0">
            <div id="requests" class="tab-pane active">
              <% if @conversations %>
                
                <% @conversations.each do |conversation| %>
                    <% other = current_user == conversation.sender ? conversation.recepient : conversation.sender %>
                    <%= link_to conversation_messages_path(conversation) do %>
                        <div class="media"> 
                          <% if profile(other) %>                           
                          <%= image_tag profile(other).avatar, size: "40x40", class: "mr-3  rounded-circle" %>
                          <% end %>
                          
                          <div class="media-body">
                            <div class="chat-account-name">
                              <% if profile(other) %>
                              
                                <%= profile(other).first_name %> <%= profile(other).last_name %>
                              <% end %> 
                              <span class="offline-time"><%= time_ago_in_words(conversation.created_at) %></span></div>
                            <% if conversation.messages.last %>
                              <div class="sent-request-01"><%= conversation.messages.last.context.first(15) %></div>
                            <% end %>
                            
                          </div>
                        </div>
                        

                    <% end %>
                <% end %>
              <% end %>
              
            </div>
            
          </div>
        </div>
        <div class="col-md-5">
          <div class="chat-right-section">
            <div class="chat-header">
              <div class="chat-head-left"> 
                <input id="conversation_id" type="hidden" value="<%= @conversation.id %>">
                <% if profile(@other) %>
                
                  <%= image_tag profile(@other).avatar, size: "40x40", class: "mr-3  rounded-circle" %> <%= profile(@other).first_name %> <%= profile(@other).last_name %> 
                <% end %></div>
              <div class="chat-head-right">
              <a href="#" class="ellipsis"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="chat-menu">
                  <li><% if profile(@other) %>
                      <%= link_to "View Profile", profile(@other) %>
                    <% end %></li>
                </ul>
              </div>
            </div>
            <div class="chat-body custom-scrollbar" id="custom-scrollbar">
              <div id="chat">
                <% if @messages %>
                  <%= render @messages %>                
                <% end %>                
              </div>   
            </div>
            
            <div class="chat-input-box">
              <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
                  <div class="form-group">
                    <%= f.text_field :context, placeholder: "Type your message here...", class: "form-control" %>
                  </div>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <div>
                    <%= f.submit "Send Message", :type => :image, :src => image_path("send-icon.png"), class: "send-btn" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- chat-wrapper end here -->

<script>
  window.onload = function(){

    function updateScroll(){
      var element = document.getElementById("custom-scrollbar");
      element.scrollTop = element.scrollHeight;
    };

    updateScroll();
  };
</script>