<section class="chat-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <% if current_user.role == 'landlord' %>
            <%= render 'landlords/sidebar' %>
          <% else %>
            <%= render 'tenants/sidebar' %>
          <% end %>
        </div>
        <div class="col-md-4">
          
          <div class="tab-content tab-content-01 custom-scrollbar mt-0">
            
            <div id="requests" class="tab-pane active">
              <% if @conversations %>
                
                <% @conversations.each do |conversation| %>
                    <% other = current_user == conversation.sender ? conversation.recepient : conversation.sender %>
                    <%= link_to conversation_messages_path(conversation) do %>
                        <div class="media"> 
                          <% if profile(other) %>
                            <% if profile(other).avatar.attached? %>
                              <%= image_tag profile(other).avatar, size: "40x40", class: "mr-3  rounded-circle" %>
                            <% end %>
                          <% end %>                          
                          <div class="media-body">
                            <div class="chat-account-name">
                              <% if profile(other) %>
                                <%= profile(other).first_name %> <%= profile(other).last_name %>
                              <% else %>
                                <%= other.email %>
                              <% end %>
                              
                               <span class="offline-time"><%= time_ago_in_words(conversation.created_at) %></span></div>
                            <div class="sent-request-01"><%= conversation.messages.last.context.first(15) %></div>
                          </div>
                        </div>
                        

                    <% end %>
                <% end %>
              <% end %>
              
              
            </div>
          </div>
        
        </div>
      </div>
      
    </div>
  </section>
  <!-- chat-wrapper end here -->
