<section class="chat-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills" role="tablist">            
            <li class="nav-item"> <a class="nav-link active" data-toggle="pill" href="#messages"><i class="fa fa-envelope-open"></i> Your Conversations</a> </li>
          </ul>
          <div class="tab-content custom-scrollbar">
            
            <div id="messages" class="tab-pane active">
              <% if @conversations %>
                
                <% @conversations.each do |conversation| %>
                    <% other = current_user == conversation.sender ? conversation.recepient : conversation.sender %>
                    <%= link_to conversation_messages_path(conversation) do %>
                        <div class="media"> <%= image_tag profile(other).avatar, size: "50x50", class: "mr-3  rounded-circle" %>
                          <div class="media-body">
                            <div class="chat-account-name"><%= profile(other).first_name %> <%= profile(other).last_name %> <span class="offline-time"><%= time_ago_in_words(conversation.created_at) %></span></div>
                            <div class="sent-request"><%= conversation.messages.last.context.first(15) %></div>
                          </div>
                        </div>
                        

                    <% end %>
                <% end %>
              <% end %>
              
              
            </div>
          </div>
        </div>
        <div class="col-md-8">
          
        </div>
      </div>
    </div>
  </section>
  <!-- chat-wrapper end here -->
