<div class="l-sidebar">
    <ul class="l-menu">
        <li> <a href="<%= properties_path %>"><span class="l-p-icon"><%= image_tag 'home-icon.png' %></span> All</a></li>
        <li><a href="#"><span class="l-p-icon"><%= image_tag 'accpted-icon.png' %></span> Accepted</a></li>
        <li><a href="#"><span class="l-p-icon"><%= image_tag 'dnd-icon.png' %></span> Not active</a></li>
    </ul>
    <div class="l-side-btn-sec"> <a href="<%= properties_new_path %>" class="light-blue-btn">+ New Property</a> </div>
</div>