<section class="landloard-content">
  		<div class="container">
        	<div class="row">
        	<div class="col-md-3">
            	<%= render 'sidebar' %>
            </div>
            
            <div class="col-md-9">
            	<div class="landloard-rt-sec  new-rt-landloard-sec">
                	<div class="row">
                	<div class="col-md-12">
                    	<div class="back-to-req-sec">
            	<a href="<%= properties_url %>" class="back-to-request">
                	<span class="back-arrow"></span> <span>Back to properties</span>
                </a>	
            </div>
            <hr>
                    </div>
                </div>
                
                	<div class="row">
                    	<div class="col-md-12">
                        	<h3 class="property-top-title">You have <span><%= @requests.count %> <%= pluralize_without_count(@requests.count, 'request') %></span> for your property “An Apartment”</h3>
                        </div>
                    </div>
                
                	<div class="row">
                    	
						<% @requests.each do |requesto| %>
                    	<div class="col-md-4">
                        	<div class="apartment-pro-bx list-common">
                            	<div class="apartment-header">
                                	<h5><%= requesto.home_type %></h5>
                                    <div class="row">
                                    	<div class="col-sm-6">
                                        	<span class="location-name">
                                                <%= requesto.city %> 
                                                <% @districts = requesto.address.gsub(/(\[\"|\"\])/, '').split('", "') %>                      
                                                (<%= @districts.map{|district| district}.join(", ") %>)</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                        	<span class="property-price">
                                            	$<%= requesto.min_budget %>-<%= requesto.max_budget %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="apartment-dtl-list">
                                	<ul class="pro-dtl-list">
					                    <li><span class="f-icon"><%= image_tag 'calendar.png' %></span> <span><%= requesto.arrival_date %> - <%= requesto.duration %></span> Months</li>
					                    <li><span class="f-icon"><%= image_tag 'bed-grey-icon-1.png' %></span> <span><%= requesto.bed_room %></span> <%= pluralize_without_count(requesto.bed_room, 'bedroom') %></li>
					                    <li><span class="f-icon"><%= image_tag 'bathtub-grey-icon-1.png' %></span> <span><%= requesto.bath_room %></span> <%= pluralize_without_count(requesto.bath_room, 'bathroom') %></li>
					                  </ul>
                  
                  					<a href="<%= show_request_property_path(@property, requesto) %>" class="light-blue-btn">Show more</a>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            </div>
        </div>	
  </section>
  <!-- landloard-profile end here -->