<%= form_for @property do |f| %>

<section class="landloard-step-sec" id="pstep1">
  <div class="container">
    <div class="row l-step-1">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active"><a href="javascript: void">1</a></li>
          <li><a href="javascript: void">2</a></li>
          <li><a href="javascript: void">3</a></li>    
          <li><a href="javascript: void">4</a></li>
          <li><a href="javascript: void">5</a></li>
          <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        <div class="row">
                
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'location-2.png' %></span>
              <span class="step-name">Step 1</span>
                           
            </div>
            <h2 class="heading-level-01">Where is Your House Located?</h2>
            <p class="select-step-label">Please select the closest city.</p>
            <div class="select-outline">
              <%= f.select :city, ['Los Angeles'], {prompt: "What is your city?"}, {class: "city-val"} %>
            </div>
            <div class="distt-sec">
            <p class="light-text">Pick Districts in your property is located</p>
                    <div class="hero-select-bx">
                <%= f.select :address, ['Beverly Hills', 'Brentwood', 'Downtown', 'Hollywood', 'Manhattan Beach', 'Miracle Mile', 'Santa Monica', 'Silver Lake and Echo Park', 'The Valley', 'Venice', 'West Hollywood', 'West LA and Culver City', 'Westwood'], {prompt: "Please select district"}, {:class => 'form-control address-val'} %>
              </div> 
              </div>
            <p class="select-step-label" style="margin-top: 30px; margin-bottom: 15px;">Please add pretty name for your property </p>
            <%= f.text_field :property_name, placeholder: "Add name of property", class: "form-control" %>
            <label class="mt-4 pt-2">Add a description</label>               
                <%= f.text_area :summary, rows: 5, placeholder: "Tell about your house", class: "form-control add-description" %>
               
          </div>
                    
          <div class="col-sm-4">
            <div class="step-rt-img-sec">
              <%= image_tag 'globe.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
          <div class="col-sm-12">
            <div class="step-btn-pagination">
              <a href="javascript: void" class="primary-btn arrow-rt" id="pstep1-btn">Next step</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</section>
<!-- landloard-profile end here -->


<section class="landloard-step-sec" id="pstep2">
  <div class="container">
    <div class="row l-step-2">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="javascript: void">1</a></li>
          <li class="active"><a href="javascript: void">2</a></li>
          <li><a href="javascript: void">3</a></li>    
          <li><a href="javascript: void">4</a></li>
          <li><a href="javascript: void">5</a></li>
          <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        <div class="row">
               
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'choice.png' %></span>
              <span class="step-name">Step 2</span>
                           
            </div>
            <h2 class="heading-level-01">Which Type Of Property Do You Have</h2>
                            
            <div class="row">
              <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Apartment/
        Condo/Loft' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'apartments.png' %> <%= image_tag 'apartments-active.png' %></span>
                    <div class="text-label">Apartment/
                      Condo/Loft</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'House' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'house.png' %> <%= image_tag 'house-active.png' %></span>
                    <div class="text-label">House</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Separate
        room' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'hotel-2.png' %> <%= image_tag 'hotel-2-active.png' %></span>
                    <div class="text-label">Separate
                      room</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Townhouse' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'block.png' %> <%= image_tag 'block-active.png' %></span>
                    <div class="text-label">Townhouse</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Studio' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'hotel-1.png' %> <%= image_tag 'hotel-1-active.png' %></span>
                    <div class="text-label">Studio</div>
                  </div>
                  </label>
                </div>

                <div class="check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Assisted Living' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'doctor.png' %><%= image_tag 'doctor-active.png' %> </span>
                    <div class="text-label">Assisted Living</div>
                  </div>
                  </label>
                </div>
              </div>  
                         
              <div class="row">
                <div class="col-md-12">
                  <ul class="l-step-2-bed-list">
                    <li> <span class="bed-image"><%= image_tag 'bed-icon.png' %></span> <span class="count-bed-sec">
              <%= f.select :bed_room, [["1",1], ["2",2], ["3",3], ["4+",4]] %>
              </span> <span class="number-bed-text">number of bedrooms</span> </li>
                    <li> <span class="bed-image"><%= image_tag 'bathtub-icon.png' %></span> <span class="count-bed-sec">
              <%= f.select :bath_room, [["1",1], ["2",2], ["3",3], ["4+",4]] %>
              </span> <span class="number-bed-text">number of bathrooms</span> </li>
            </ul>
          </div>
        </div> 
      </div>
                    
      <div class="col-sm-4">
        <div class="step-rt-img-sec">
          <%= image_tag 'step-2.jpg' %>
        </div>
      </div>
    </div>
                
        <div class="row">
          <div class="col-sm-12">
            <div class="step-btn-pagination">
              <a href="javascript: void" class="blue-outline-btn" id="pstep2-prev">Previous Step</a>
              <a href="javascript: void" class="primary-btn arrow-rt" id="pstep2-btn">Next step</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- landloard-profile end here -->

<section class="landloard-step-sec" id="pstep3">
  <div class="container">
    <div class="row l-step-3">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="javascript: void">1</a></li>
          <li class="active-done"><a href="javascript: void">2</a></li>
          <li class="active"><a href="javascript: void">3</a></li>   
          <li><a href="javascript: void">4</a></li>
          <li><a href="javascript: void">5</a></li>
          <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        <div class="row">
                
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'research.png' %></span>
              <span class="step-name">Step 3</span>
                           
            </div>
            <h2 class="heading-level-01">What Features Does Your Property Have?</h2>
                            
            <div class="row">
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_air %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'air-conditioner.png' %> <%= image_tag 'air-conditioner-active.png' %></span>
                    <div class="text-label">Airconditioning</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_parking %> 
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'parking.png' %> <%= image_tag 'parking-active.png' %></span>
                    <div class="text-label">Parking/
                      Garage</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_washer %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'washing-machine.png' %> <%= image_tag 'washing-machine-active.png' %></span>
                    <div class="text-label">Washer/Dryer</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_internet %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'smartphone.png' %> <%= image_tag 'smartphone-active.png' %></span>
                    <div class="text-label">Wi-Fi</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_pool %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'swimming-pool.png' %> <%= image_tag 'swimming-pool-active.png' %></span>
                    <div class="text-label">Pool/Hot Tub</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_gym %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'gym.png' %> <%= image_tag 'gym-active.png' %></span>
                    <div class="text-label">Gym</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_balcony %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'antique-balcony.png' %> <%= image_tag 'antique-balcony-active.png' %></span>
                    <div class="text-label">Balcony</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_fireplace %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'fireplace-active.png' %> <%= image_tag 'fireplace.png' %></span>
                    <div class="text-label">Fireplace</div>
                  </div>
                </label>
              </div>
            </div>  
          </div>
                    
          <div class="col-sm-4">
            <div class="step-rt-img-sec">
              <%= image_tag 'step-4.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
          <div class="col-sm-12">
            <div class="step-btn-pagination">
              <a href="javascript: void" class="blue-outline-btn" id="pstep3-prev">Previous Step</a>
              <a href="javascript: void" class="primary-btn arrow-rt" id="pstep3-btn">Next step</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- landloard-profile end here -->  

<section class="landloard-step-sec" id="pstep4">
  <div class="container">
      
    <div class="row l-step-4">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="javascript: void">1</a></li>
          <li class="active-done"><a href="javascript: void">2</a></li>
          <li class="active-done"><a href="javascript: void">3</a></li>    
          <li class="active"><a href="javascript: void">4</a></li>
          <li><a href="javascript: void">5</a></li>
          <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        <div class="row">
                
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'research.png' %></span>
              <span class="step-name">Step 4</span>
            </div>
            <h2 class="heading-level-01">Additional features</h2>
                            
            <div class="row">
              <div class="col-sm-12">
                <p class="select-step-lebel">Select if you allow ...</p>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_dogs %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'pet.png' %> <%= image_tag 'pet-active.png' %></span>
                    <div class="text-label">Dogs</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_cats %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'cat.png' %> <%= image_tag 'cat-active.png' %></span>
                    <div class="text-label">Cats</div>
                  </div>
                </label>
              </div>

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_smoking %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'smoke.png' %> <%= image_tag 'smoke-active.png' %></span>
                    <div class="text-label">Smoking</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-12">
                <p class="select-step-lebel">Select if you can provide ...</p>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_wheelchair %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'wheelchair.png' %> <%= image_tag 'wheelchair-active.png' %></span>
                    <div class="text-label">Wheelchair
                      Access</div>
                  </div>
                </label>
              </div>       
            </div>  
          </div>
                    
          <div class="col-sm-4">
            <div class="step-rt-img-sec">
              <%= image_tag 'step-4.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
          <div class="col-sm-12">
            <div class="step-btn-pagination">
              <a href="javascript: void" class="blue-outline-btn" id="pstep4-prev">Previous Step</a>
              <a href="javascript: void" class="primary-btn arrow-rt" id="pstep4-btn">Next step</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</section>
  <!-- landloard-profile end here -->

<section class="landloard-step-sec" id="pstep5">
  <div class="container">
    <div class="row l-step-5">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="javascript: void">1</a></li>
          <li class="active-done"><a href="javascript: void">2</a></li>
          <li class="active-done"><a href="javascript: void">3</a></li>
          <li class="active-done"><a href="javascript: void">4</a></li>
          <li class="active"><a href="javascript: void">5</a></li>
          <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        <div class="row">
                
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'calendar.png' %></span>
              <span class="step-name">Step 5</span>
            </div>
            <h2 class="heading-level-01">What is The Minimum Lease? </h2>
                            
            <div class="row">
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :minimum_lease, '1-3' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">1-3 Months</div>
                  </div>
                </label>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :minimum_lease, '3-6' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">3-6 Months</div>
                  </div>
                </label>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :minimum_lease, '6+' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">6+ Months</div>
                  </div>
                </label>
              </div>
            </div> 
                         
            <div class="row"> 
              <div class="col-sm-12">
                <p class="p-step">What is the monthly rent?</p>
                  <div class="price-select-sec">
                    <%= f.number_field :price, class: "form-control" %>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                  <label>Choose a room type</label>
                  <div class="price-select-sec">
                    <%= f.select :room_type, [["Entire","Entire"], ["Private","Private"], ["Shared","Shared"]], {class: "arrow-select"} %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mt-3">
                  <label>Accommodate </label>
                  <div class="price-select-sec">
                    <%= f.select :accommodate, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], {class: "arrow-select"} %>
                  </div>
                </div>
              </div>
          </div>
                    
            <div class="col-sm-4">
              <div class="step-rt-img-sec">
                <%= image_tag 'step-5.jpg' %>
              </div>
            </div>
          </div>
                
          <div class="row">
            <div class="col-sm-12">
              <div class="step-btn-pagination">
                <a href="javascript: void" class="blue-outline-btn" id="pstep5-prev">Previous Step</a>
                <a href="javascript: void" class="primary-btn arrow-rt" id="pstep5-btn">Next step</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->  

<section class="landloard-step-sec" id="pstep6">
  <div class="container">
    <div class="row l-step-6">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="javascript: void">1</a></li>
          <li class="active-done"><a href="javascript: void">2</a></li>
          <li class="active-done"><a href="javascript: void">3</a></li>
          <li class="active-done"><a href="javascript: void">4</a></li>
          <li class="active-done"><a href="javascript: void">5</a></li>
          <li class="active"><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        <div class="row">
                
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'gallery.png' %></span>
              <span class="step-name">Step 6</span>
            </div>
            <h2 class="heading-level-01">Add photos</h2>
                            
            <div class="row">
                        
              <div class="col-sm-12 upload-sec-gallery">
                <div class="upload-step-pic">
                  <div>
                    <span class="upload-image-icon"><%= image_tag 'upload-photo.png' %></span>
                    <span class="upload-btn-text">Click here to add a photo from your computer</span>
                    <%= f.file_field :images, multiple: true, direct_upload: true, id: "files" %>
                  </div>
                </div>
                <div class="gallery step-6-gallery">
                  <output id="result">
                    <div class="space-div"></div>
                    <%= render 'photos_list' %>
                  </output>
                </div>  
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="step-rt-img-sec">
              <%= image_tag 'step-5.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
          <div class="col-sm-12">
            <div class="step-btn-pagination">
              <div class="up-broken-line-arrow">
                <ul>
                  <li><%= image_tag 'up-broken-line-arrow1.png' %></li>
                  <li><%= image_tag 'up-broken-line-arrow2.png' %></li>
                  <li><%= image_tag 'up-broken-line-arrow3.png' %></li>
                </ul>
              </div>
              <a href="javascript: void" class="blue-outline-btn" id="pstep6-prev">Previous Step</a>
              <% if user_signed_in? %>
                <%= f.submit "Finish", :type => :image, :src => image_path("checked-btn.png"), id: "pstepfinishsign", class: "primary-btn checked-btn" %> 
              <% else %>
                <%= f.submit "Finish", :type => :image, :src => image_path("checked-btn.png"), id: "pstepfinish", class: "primary-btn checked-btn" %> 
              <% end %>
                           
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</section>
  <!-- landloard-profile end here -->  
<% end %>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'sign_up_user_landlord', class: "signup-form signin-form", 'data-type' => 'json'}, remote: true ) do |f| %>
  

  <div class="form-group mt-4">
    <span class="mail-icon"><%= image_tag("mail-icon.png", :alt => "mail-icon") %></span>
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "johndoe@gmail.com" %>
  </div>

  <div class="form-group">
    <span class="lock-icon"><%= image_tag("padlock.png", :alt => "padlock") %> </span>
    
    <%= f.password_field :password, placeholder: '123456', class: "form-control", autocomplete: "new-password" %>
    <span class="visible-pw">
      <%= image_tag("visible.png", :alt => "visible") %></span>
  </div>

  <div class="form-group">
    <span class="lock-icon"><%= image_tag("padlock.png", :alt => "padlock") %> </span>
    <%= f.password_field :password_confirmation, class: "form-control", value: '123456', autocomplete: "new-password" %>
    <span class="visible-pw"><%= image_tag("not-visible.png", :alt => "not-visible") %></span>
  </div>  
  
  <%= f.hidden_field :role, :value => 'landlord' %>   

  <div class="form-group mt-4" style="text-align: center;">
    <%= f.submit "Sign up",  class: "primary-btn" %>
  </div>
  
<% end %>
      </div>
      <div class="modal-footer">
  </div>
    </div>
  </div>
</div>