
    <section class="landloard-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render 'sidebar' %>
        </div>
        <div class="col-md-9">
        	
          <div class="landloard-rt-sec">
          		<div class="row">
                	<div class="col-md-12">
                    	<div class="back-to-req-sec">
            	<a href="<%= all_requests_property_path(@property) %>" class="back-to-request">
                	<span class="back-arrow"></span> <span>Back to requests</span>
                </a>	
            </div>
                    </div>
                </div>
            <div class="row">
            
            <div class="col-md-12">
            	<div class="pro-l-open-property">
                
                <div class="row pro-l-head">
                <div class="col-md-3 pr-0"> <%= image_tag 'apartment-big-icon.png' %> </div>
                <div class="col-md-6">
                  <h4><%= @request.home_type %></h4>
                  <span class="location-address"><%= @request.address %></span>
                  <ul class="pro-dtl-list">
                    <li><span class="f-icon"><%= image_tag("real-estate.png", :alt => "") %></span> <%= @request.home_type %></li>
                    <li><span class="f-icon"><%= image_tag("shared.png", :alt => "") %></span> <%= @request.room_type %></li>
                    <li><span class="f-icon"><%= image_tag("accommodate.png", :alt => "") %></span><span class="f-count"><%= @request.accommodate %></span> <%= pluralize_without_count(@request.accommodate, 'Accomodate') %> </li>
					<li><span class="f-icon"><%= image_tag "calendar.png" %></span> <span><%= @request.arrival_date %> - <%= @request.duration %></span> Months</li>
                    <li><span class="f-icon"><%= image_tag "bed-grey-icon-1.png" %></span> <span><%= @request.bed_room %></span> <%= pluralize_without_count(@request.bed_room, 'bedroom') %></li>
                    <li><span class="f-icon"><%= image_tag "bathtub-grey-icon-1.png" %></span> <span><%= @request.bath_room %></span> <%= pluralize_without_count(@request.bath_room, 'bathroom') %></li>                    
                  </ul>
                </div>
                <div class="col-md-3 text-right">
                	<div class="budget ">Budget:</div>
                	<h4>$<%= @request.min_budget %>-<%= @request.max_budget %></h4>
                 </div>
                <div class="col-md-12">
               		<hr>
                </div>
                
                 
                
              </div>
                
              
              <div class="row">
              	<div class="col-md-12 mt-0 mb-2 pro-feature-sec">
                	<h5>Features</h5>
                	<ul class="features-list">
                    	<% if @request.is_air %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("air-conditioner.png", :alt => "") %></span><span>Airconditioning </span></div></div>
                          </li>                       
                      <% end %>

                      <% if @request.is_parking %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("parking.png", :alt => "") %></span><span>Parking/
                Garage </span></div></div>
                          </li>                       
                      <% end %>

                      <% if @request.is_washer %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("washing-machine.png", :alt => "") %></span><span>Washing machine </span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_balcony %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("balcony.png", :alt => "") %></span><span>Balcony</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_fireplace %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("fireplace.png", :alt => "") %></span><span>Fireplace</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_internet %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("smartphone.png", :alt => "") %></span><span>Wi-Fi</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_gym %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("gym.png", :alt => "") %></span><span>Gym</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_pool %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("swimming-pool.png", :alt => "") %></span><span>Pool/Hot Tub</span></div></div>
                          </li>
                      <% end %>

                    </ul>
                </div>
                
                <div class="col-md-12 mb-4 pro-feature-sec">
                	<h5>Additional Features</h5>
                	<ul class="features-list">
                    	<% if @request.is_dogs %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("pet.png", :alt => "") %></span><span>Dogs</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_cats %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("cat.png", :alt => "") %></span><span>Cats</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_wheelchair %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("wheelchair.png", :alt => "") %></span><span>Wheelchair Access</span></div></div>
                          </li>
                      <% end %>

                      <% if @request.is_smoking %>
                        <li>                        
                            <div class="list-block"><div><span class="feature-img"><%= image_tag("smoke.png", :alt => "") %></span><span>Smoking</span></div></div>
                          </li>
                      <% end %>  

                    </ul>
                </div>
                
                
              </div>
              
              <div class="row">
              	<div class="col-md-12">
                	<div class="divider-h"></div>
                	<div class="media l-media-object"> 
                		<% if profile(@request.user) %>
                      <% if profile(@request.user).avatar.attached? %>
                        <%= image_tag profile(@request.user).avatar, size: "75x75" , class: "mr-3  rounded-circle" %>
                      <% end %>
                    <% end %>
                    

                <div class="media-body">
                  <% if profile(@request.user)  %>
                    <h4><%= profile(@request.user).first_name %> <%= profile(@request.user).last_name %></h4>
                  <% end %>
                  <span class="postion-text">Tenant</span>
                </div>
              </div>
                    <% if profile(@request.user) %>                    
                      <p class="mb-4"><%= profile(@request.user).information %></p>
                      
                      <ul class="credit-score-list">
                      	<li><span class="credit-icon"><%= image_tag 'blue-credit-card.png' %></span> Credit Score: <span class="green"><%= profile(@request.user).credit_score %></span></li>
                          <li><span class="credit-icon"><%= image_tag 'businessman.png' %></span> Enployment Status: <span class="grey"><%= profile(@request.user).employment_status %></span>
                      </li></ul>
                    <% end %>
                    
                    <div class="chat-footer l-open-pro-footer">
            	<div class="row">
                <% @purchases = Purchase.where(request_id: @request.id, user_id: current_user.id) %>
  				<% if @purchases.count==0 %>
	                <div class="col-md-4">
	                	<%= form_for @purchase do |f| %>
						<%= f.hidden_field :request_id, :value => @request.id %>
						<%= f.hidden_field :property_id, :value => @property.id  %>
						<%= f.submit "Accept ($5)", id: "btn_purcahse", class: "primary-btn"%>
						<% end %>     	           	
	                </div>
	                <div class="col-md-5">
	                	<a href="#" class="primary-btn disabled-btn">Message 
                      <% if profile(@request.user) %>
                        <%= profile(@request.user).first_name %>
                      <% end %>                        
                      </a>
	                </div>
				<% else %>
					<div class="col-md-5">
	            		<p class="primary-btn disabled-btn">Request Accepted</p>
	                </div>
	                <div class="col-md-5">
                    
                    <%= link_to "Message ", conversations_path(sender_id: current_user.id, recepient_id: @request.user_id), method: :post, class: "primary-btn" %>
                    
	                </div>
                <% end %> 
                
                </div>
            </div>
                </div>
              </div>
              </div>
           </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->
