<div class="col-md-4">
  <div class="apartment-pro-bx  new-design list-common">
    <div class="apartment-header">
    <div class="apt-inr-head">
    <span class="property-price"> $<%= request.min_budget %>-<%= request.max_budget %> </span>
      <% if current_user.id == request.user_id %>
       	<a href="<%= request_path(request) %>">
          <h5><%= request.home_type %></h5>
        </a>
      <% else %>
        <a href="<%= property_request_path(@property, request) %>">
          <h5><%= request.home_type %></h5>
        </a>
      <% end %>
      <span class="location-name"><%= request.city %></span> 
      </div>
    </div>
    <div class="apartment-dtl-list">
      <ul class="pro-dtl-list">
        <li>
          <span class="f-icon"><%= image_tag 'calendar.png' %> <span><%= request.arrival_date %> </span></span>  <span class="duration"><span><%= request.duration %></span> Months</span>
        </li>
        <li>
          <span class="f-icon"><%= image_tag 'bed-icon.png' %> <span><%= request.bed_room %></span> </span>  <span class="duration"><%= 'bedroom'.pluralize(request.bed_room) %></span>
        </li>
        <li>
          <span class="f-icon"><%= image_tag 'bathtub-icon.png' %> <span><%= request.bath_room %></span></span> <span class="duration"><%= 'bathroom'.pluralize(request.bath_room) %></span>
        </li>
      </ul>
      <% @purchases = Purchase.where(request_id: request.id) %>
      <div class="pro-btn-sec m-r-accepted-btn"> 
        <a href="<%= responses_request_path(request) %>" class="light-blue-btn">Responses <span>(<%= @purchases.count %>)</span></a> 
        
          <%= link_to 'Edit', edit_request_path(request), class: "light-red-btn" %>
                
      </div>
    </div>
  </div>
</div>