<section class="landloard-step-sec">
    <div class="container">
        <div class="row landloar-cong-sec">
        	
            <div class="col-sm-12">
            	<div class="row">
                    
                   <div class="col-sm-8">
                       <div class="step-header">
                        <span class="step-name">Congratulations!</span>
                        
                    </div>
                    <h2 class="heading-level-01">Your Request Has Been Sent!</h2>
                    
                    <p class="next-steps">Your next steps:</p>
                    
                    <div class="row">
                     
                        <div class="col-sm-12">
                            <ul class="next-steps-list">
                                <li class="active">
                                    <a href="#">
                                        <span class="step-icon-bx">
                                            <%= image_tag 'checked-symbol.png' %> 
                                            <%= image_tag 'checked-symbol-active.png' %>
                                        </span>
                                        <span class="step-text">
                                            Your request is complete!
                                        </span>
                                    </a>
                                </li>
                                <li>
                                 <a href="#">
                                     <span class="step-icon-bx">
                                        <%= image_tag 'yellow-message.png' %>
                                        <%= image_tag 'yellow-message-active.jpg' %>
                                    </span>
                                    <span class="step-text">
                                        Wait for messages
                                        from landlords
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="step-icon-bx">
                                        <%= image_tag 'yellow-money.png' %>
                                        <%= image_tag 'yellow-money-active.jpg' %>
                                    </span>
                                    <span class="step-text">
                                       You can start
                                       packing!
                                   </span>
                               </a>
                           </li>
                       </ul>
                       <div class="step-btn-pagination tenant-cong">
                           <div class="up-broken-line-arrow">
                               <ul>
                                <li>
                                    <%= image_tag 'up-broken-line-arrow1.png' %></li>
                                    <li>
                                        <%= image_tag 'up-broken-line-arrow2.png' %></li>
                                        <li>
                                            <%= image_tag 'up-broken-line-arrow3.png' %></li>
                                        </ul>
                                    </div>
                                    
                                    <% if profile(current_user) %>      
                                    <a href="<%= tenant_path(profile(current_user)) %>" class="primary-btn full-btn mb-4"><i class="fa fa-pencil"></i> Complete Your Profile</a>
                                    <% else %>      
                                    <a href="<%= create_profile(current_user) %>" class="primary-btn full-btn mb-4"><i class="fa fa-pencil"></i> Complete Your Profile</a>
                                    <% end %>
                                    
                                </div>
                                
                                <h3 class="heading-level-01">Please Complete Your Profile Now</h3>
                                <h5><i class="fa fa-exclamation"> </i> People With Completed Profiles Are Contacted 63% More!</h5>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="step-rt-img-sec">
                           <%= image_tag 'tenant-cong-image.jpg' %>
                       </div>
                   </div>
               </div>
               
               
           </div>
       </div>
       
   </div>
</section>
  <!-- landloard-profile end here -->