<section class="landloard-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="l-sidebar">
            <ul class="l-menu">
              <li class="active"> <a href="#"><span class="l-p-icon"><%= image_tag 'copy.png' %></span> No Responce</a></li>
              <li><a href="#"><span class="l-p-icon"><%= image_tag 'accpted-icon.png' %></span> Accepted</a></li>
              <li><a href="#"><span class="l-p-icon"><%= image_tag 'new.png' %></span> Archived</a></li>
            </ul>
            <div class="l-side-btn-sec"> <a href="#" class="light-blue-btn">+ New Property</a> </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="landloard-rt-sec">
            <div class="row">
              
              <% @requests.each do |request| %>
              	<div class="col-md-4">
                <div class="apartment-pro-bx list-common">
                  <div class="apartment-header">
                    <h5><%= request.home_type %></h5>
                    <div class="row">
                      <div class="col-sm-6"> <span class="location-name"><%= request.address %></span> </div>
                      <div class="col-md-6 text-right"> <span class="property-price"> $<%= request.min_budget %>-<%= request.max_budget %> </span> </div>
                    </div>
                  </div>
                  <div class="apartment-dtl-list">
                    <ul class="pro-dtl-list">
                      <li><span class="f-icon"><%= image_tag 'calendar.png' %></span> <span><%= request.arrival_date %> - <%= request.duration %></span> Months</li>
                      <li><span class="f-icon"><%= image_tag 'bed-grey-icon-1.png' %></span> <span><%= request.bed_room %></span> Bed Rooms</li>
                      <li><span class="f-icon"><%= image_tag 'bathtub-grey-icon-1.png' %></span> <span><%= request.bath_room %></span> bathroom</li>
                    </ul>
                    <div class="pro-btn-sec m-r-accepted-btn"> <a href="#" class="light-blue-btn">Responses <span>(1)</span></a> <a href="#" class="light-red-btn">Archive</a> </div>
                  </div>
                </div>
              </div>
              <% end %>              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->
