<%= form_for @request do |f| %>
<%= f.hidden_field :active, :value => true %>  
<section class="landloard-step-sec" id="step1">
  <div class="container">
    <div class="row l-step-1">
      <div class="col-md-1">
        <ul class="step-list">
          <li class="active"><a href="javascript: void">1</a></li>
          <li><a href="tenant-step-2.html">2</a></li>
          <li><a href="javascript: void">3</a></li>   
          <li><a href="javascript: void">4</a></li>
          <li><a href="javascript: void">5</a></li>
          <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
            <div class="col-md-11">
              
                <div class="row">                
                  <div class="col-sm-7 l-left-step-sec-01">
                    <div class="step-header">
                      <span class="location-2"><%= image_tag 'tenant-step-1.png' %></span>
                      <span class="step-name">Step 1</span>
                    </div>
                    <h2 class="heading-level-01">Where Are You Looking To Move?</h2>
                    <p class="select-step-label">Pick From Our List Of Available Cities</p>
                    <div class="select-outline">                      
                      <%= f.select :city, ['Los Angeles'], {prompt: "Where are you looking to move?"}, {class: "city-val"} %>
                    </div>  
                    <div id="distts-sec">
                    <p class="select-step-label">Pick Which Neighborhoods You Prefer (multiple select allowed)</p>
                    <div class="hero-select-bx">
                <%= f.select :address, ['Beverly Hills', 'Brentwood', 'Downtown', 'Hollywood', 'Manhattan Beach', 'Miracle Mile', 'Santa Monica', 'Silver Lake and Echo Park', 'The Valley', 'Venice', 'West Hollywood', 'West LA and Culver City', 'Westwood'], {include_hidden: false}, { :multiple => true, :size => 4, :class => 'form-control address-val'} %>                
              </div>
              </div>
                  </div>
                    
                  <div class="col-sm-5">
                    <div class="step-rt-img-sec">
                      <%= image_tag 'tenant-image-step-1.jpg' %>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-12">
                      <div class="step-btn-pagination">
                          <a href="javascript: void" class="primary-btn arrow-rt" id="step1-btn">Next step</a>
                        </div>
                    </div>
                </div>
                
            </div>
      </div>
      
    </div>
  </section>
  <!-- landloard-profile end here -->

  <section class="landloard-step-sec" id="step2">
  <div class="container">
    <div class="row l-step-2">
      <div class="col-sm-1">
        <ul class="step-list">
            <li class="active-done"><a href="javascript: void">1</a></li>
            <li class="active"><a href="javascript: void">2</a></li>
            <li><a href="javascript: void">3</a></li>     
            <li><a href="javascript: void">4</a></li>
            <li><a href="javascript: void">5</a></li>
            <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
        
        <div class="row">
            <div class="col-sm-7 l-left-step-sec-01">
            <div class="step-header">
                <span class="location-2"><%= image_tag 'choice.png' %></span>
              <span class="step-name">Step 2</span>
            </div>
            <h2 class="heading-level-01">Which Type of Home Are You Looking For? </h2>
            <div class="row">
              
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Apartment/Condo/Loft' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'apartments.png' %> <%= image_tag 'apartments-active.png' %></span>
                    <div class="text-label">Apartment/
                      Condo/Loft</div>
                  </div>
                </label>
              </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'House' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'house.png' %> <%= image_tag 'house-active.png' %></span>
                    <div class="text-label">House</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Separate
                    room' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'hotel-2.png' %> <%= image_tag 'hotel-2-active.png' %></span>
                    <div class="text-label">Separate
                      room</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Townhouse' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'block.png' %> <%= image_tag 'block-active.png' %></span>
                    <div class="text-label">Townhouse</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Studio' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'hotel-1.png' %> <%= image_tag 'hotel-1-active.png' %></span>
                    <div class="text-label">Studio</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Assisted Living' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'doctor.png' %><%= image_tag 'doctor-active.png' %> </span>
                    <div class="text-label">Assisted Living</div>
                  </div>
                  </label>
                </div>
            </div>  
                         
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="l-step-2-bed-list">
                                    <li> <span class="bed-image"><%= image_tag 'bed-icon.png' %></span> <span class="count-bed-sec">
              <%= f.select :bed_room, [["1",1], ["2",2], ["3",3], ["4+",4]] %>
              </span> <span class="number-bed-text">number of bedrooms</span> </li>
            <li> <span class="bed-image"><%= image_tag 'bathtub-icon.png' %></span> <span class="count-bed-sec">
              <%= f.select :bath_room, [["1",1], ["2",2], ["3",3], ["4+",4]] %>
              </span> <span class="number-bed-text">number of bathrooms</span> </li>

                                    
                                </ul>
                            </div>
                         </div> 
                    </div>
                    
                    <div class="col-sm-5">
                        <div class="step-rt-img-sec">
                        <%= image_tag 'tenant-image-step-2.jpg' %>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="step-btn-pagination">
                            <a href="javascript: void" class="primary-btn arrow-rt" id="step2-btn">Next step</a>
                            <a href="javascript: void" class="blue-outline-btn" id="step2-prev">Previous Step</a>
                        </div>
                    </div>
                </div>
              
            </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->

  <section class="landloard-step-sec" id="step3">
    <div class="container">
      <div class="row l-step-3">
        <div class="col-sm-1">
          <ul class="step-list">
            <li class="active-done"><a href="javascript: void">1</a></li>
            <li class="active-done"><a href="javascript: void">2</a></li>
            <li class="active"><a href="javascript: void">3</a></li>      
            <li><a href="javascript: void">4</a></li>
            <li><a href="javascript: void">5</a></li>
            <li><a href="javascript: void">6</a></li>
          </ul>
        </div>
          <div class="col-sm-11">
            
            <div class="row">
              <div class="col-sm-7 l-left-step-sec-01">
                <div class="step-header">
                    <span class="location-2"><%= image_tag 'research.png' %></span>
                  <span class="step-name">Step 3</span>
                </div>
                <h2 class="heading-level-01">Which of These Can You Not Live Without?</h2>
                <div class="row">
                    <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_air %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'air-conditioner.png' %> <%= image_tag 'air-conditioner-active.png' %></span>
                      <div class="text-label">Air Conditioning</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_parking %> 
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'parking.png' %> <%= image_tag 'parking-active.png' %></span>
                      <div class="text-label">Parking/
                        Garage</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_washer %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'washing-machine.png' %> <%= image_tag 'washing-machine-active.png' %></span>
                      <div class="text-label">Washer/Dryer</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_internet %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'smartphone.png' %> <%= image_tag 'smartphone-active.png' %></span>
                      <div class="text-label">Wi-Fi</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_pool %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'swimming-pool.png' %> <%= image_tag 'swimming-pool-active.png' %></span>
                      <div class="text-label">Pool/Hot Tub</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_gym %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'gym.png' %> <%= image_tag 'gym-active.png' %></span>
                      <div class="text-label">Gym</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_balcony %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'antique-balcony.png' %> <%= image_tag 'antique-balcony-active.png' %></span>
                      <div class="text-label">Balcony</div>
                    </div>
                    </label>
                  </div>

                  <div class="col-sm-3 check-property-step">
                    <label class="remember-sec user-label landlord">
                    <div class="inner-user-bx">
                      <%= f.check_box :is_fireplace %>
                      <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'fireplace-active.png' %> <%= image_tag 'fireplace.png' %></span>
                      <div class="text-label">Fireplace</div>
                    </div>
                    </label>
                  </div>
                </div>  
              </div>
                    
          <div class="col-sm-5">
            <div class="step-rt-img-sec">
                <%= image_tag 'tenant-image-step-3.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
            <div class="col-sm-12">
            <div class="step-btn-pagination">
                
                <a href="javascript: void" class="primary-btn arrow-rt" id="step3-btn">Next step</a>
                <a href="javascript: void" class="blue-outline-btn" id="step3-prev">Previous Step</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
  <!-- landloard-profile end here -->

  <section class="landloard-step-sec" id="step4">
  <div class="container">
    <div class="row l-step-4">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="javascript: void">1</a></li>
          <li class="active-done"><a href="javascript: void">2</a></li>
            <li class="active-done"><a href="javascript: void">3</a></li>     
            <li class="active"><a href="javascript: void">4</a></li>
            <li><a href="javascript: void">5</a></li>
            <li><a href="javascript: void">6</a></li>
        </ul>
      </div>
      
      <div class="col-sm-11">
        
        <div class="row">
          <div class="col-sm-7 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'tenant-step-4.png' %></span>
              <span class="step-name">Step 4</span>
            </div>
            <h2 class="heading-level-01">Additional<br>
            Requirements</h2>
                            
            <div class="row">
              <div class="col-sm-12">
                <p class="select-step-lebel">Select if you have ...</p>
              </div> 

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_dogs %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'pet.png' %> <%= image_tag 'pet-active.png' %></span>
                    <div class="text-label">Dogs</div>
                  </div>
                </label>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_cats %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'cat.png' %> <%= image_tag 'cat-active.png' %></span>
                    <div class="text-label">Cats</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-12">
                <p class="select-step-lebel">Select if you...</p>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_smoking %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'smoke.png' %> <%= image_tag 'smoke-active.png' %></span>
                    <div class="text-label">Smoking</div>
                  </div>
                </label>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_wheelchair %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'wheelchair.png' %> <%= image_tag 'wheelchair-active.png' %></span>
                    <div class="text-label">Wheelchair
                      Access</div>
                  </div>
                </label>
              </div>
            </div>  
          </div>
                    
          <div class="col-sm-5">
            <div class="step-rt-img-sec">
                <%= image_tag 'tenant-image-step-4.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
            <div class="col-sm-12">
            <div class="step-btn-pagination">
                
                <a href="javascript: void" class="primary-btn arrow-rt" id="step4-btn">Next step</a>
                <a href="javascript: void" class="blue-outline-btn" id="step4-prev">Previous Step</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
      
  </div>
</section>
  <!-- landloard-profile end here -->

  <section class="landloard-step-sec" id="step5">
    <div class="container">
      <div class="row l-step-5">
        <div class="col-sm-1">
          <ul class="step-list">
            <li class="active-done"><a href="javascript: void">1</a></li>
            <li class="active-done"><a href="javascript: void">2</a></li>
            <li class="active-done"><a href="javascript: void">3</a></li>
            <li class="active-done"><a href="javascript: void">4</a></li>
            <li class="active"><a href="javascript: void">5</a></li>
            <li><a href="javascript: void">6</a></li>
          </ul>
        </div>
        <div class="col-sm-11">
          
          <div class="row">
            <div class="col-sm-7 l-left-step-sec-01">
              <div class="step-header"> <span class="location-2"><%= image_tag 'calendar.png' %></span> <span class="step-name">Step 5</span> </div>
              <h2 class="heading-level-01">When Are You Looking To Move?</h2>
              <p class="select-step-label">Choose the dutarion of stay</p>
              <div class="row">
                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :duration, '1-3' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">1-3 Months</div>
                  </div>
                  </label>
                </div>
                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :duration, '3-6' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">3-6 Months</div>
                  </div>
                  </label>
                </div>
                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :duration, '6+' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">6+ Months</div>
                  </div>
                  </label>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12">
                <p class="select-step-label">Choose the arrival date</p>
                  <!--<label>Select Date: </label>-->
                  <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                    <%= f.date_field :arrival_date, class: "form-control" %>
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span> </div>
                </div>
              </div>
              
              
            </div>
            <div class="col-sm-5">
              <div class="step-rt-img-sec"> <%= image_tag 'tenant-image-step-5.jpg' %> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="step-btn-pagination"> 
                 
                <a href="javascript: void" class="primary-btn arrow-rt" id="step5-btn">Next step</a>
                <a href="javascript: void" class="blue-outline-btn" id="step5-prev">Previous Step</a>
                </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->
<section class="landloard-step-sec" id="step6">
    <div class="container">
      <div class="row l-step-6">
        <div class="col-sm-1">
          <ul class="step-list">
            <li class="active-done"><a href="javascript: void">1</a></li>
            <li class="active-done"><a href="javascript: void">2</a></li>
            <li class="active-done"><a href="javascript: void">3</a></li>
            <li class="active-done"><a href="javascript: void">4</a></li>
            <li class="active-done"><a href="javascript: void">5</a></li>
            <li class="active"><a href="javascript: void">6</a></li>
          </ul>
        </div>
        <div class="col-sm-11">          
          <div class="row">
            <div class="col-sm-7 l-left-step-sec-01">
              <div class="step-header"> <span class="location-2"><%= image_tag 'debit-card.png' %></span> <span class="step-name">Step 6</span> </div>
              <h2 class="heading-level-01">What Is Your Monthly Budget? </h2>
              <div class="row">
                <div class="col-sm-12">
                <div class="range-slider">
                <input type="text" class="js-range-slider" value="" />
            </div>
                </div>
                <div class="col-sm-6 mt-3 range-in-bx-l">
                  <label class="price-label">From</label>
                  <div class="price-select-sec">
                    <%= f.number_field :min_budget, class: "js-input-from form-control" %>
                  </div>
                </div>
                <div class="col-sm-6 mt-3 range-in-bx-r">
                  <label class="price-label">To</label>
                  <div class="price-select-sec">
                    <%= f.number_field :max_budget, class: "js-input-to form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                        <div class="step-btn-pagination tenant-step-pagination">
                            <div class="up-broken-line-arrow">
                                <ul>
                                    <li><%= image_tag 'up-broken-line-arrow1.png' %></li>
                                    <li><%= image_tag 'up-broken-line-arrow2.png' %></li>
                                    <li><%= image_tag 'up-broken-line-arrow3.png' %></li>
                                </ul>
                            </div>
                            <% if user_signed_in? %>
                            <%= f.submit "Finish", id: "stepfinishsign", class: "primary-btn checked-btn" %>
                          <% else %>
                            <%= f.submit "Finish", id: "stepfinish", class: "primary-btn checked-btn" %>
                          <% end %>
                            <a href="javascript: void" class="blue-outline-btn" id="step6-prev">Previous Step</a>
                           
                                                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
              <div class="step-rt-img-sec"> <%= image_tag 'tenant-image-step-6.jpg' %> </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->
  <% end %>
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'sign_up_user', class: "signup-form signin-form", 'data-type' => 'json', style: "border: none;"}, remote: true ) do |f| %>
  <h2 style="text-align: center;">One last thing! <br><span>Create an account to receive your messages!</span></h2>

  <div class="form-group mt-4">
    <span class="mail-icon"><%= image_tag("email.png", :alt => "mail-icon") %></span>
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "johndoe@gmail.com" %>
  </div>

  <div class="form-group">
    <span class="lock-icon"><%= image_tag("lock.png", :alt => "padlock") %> </span>
    
    <%= f.password_field :password, placeholder: '123456', class: "form-control", autocomplete: "new-password" %>
    <span class="visible-pw">
      <%= image_tag("visible.png", :alt => "visible") %></span>
  </div>

  <div class="form-group">
    <span class="lock-icon"><%= image_tag("lock.png", :alt => "padlock") %> </span>
    <%= f.password_field :password_confirmation, class: "form-control", value: '123456', autocomplete: "new-password" %>
    <span class="visible-pw"><%= image_tag("not-visible.png", :alt => "not-visible") %></span>
  </div>  
  
  <%= f.hidden_field :role, :value => 'tenant' %>   

  <div class="form-group mt-4" style="text-align: center;">
    <%= f.submit "Sign up",  class: "primary-btn" %>
  </div>
  
<% end %>
      </div>
      </div>
  </div>
</div>
