<section class="landloard-step-sec" id="step2">
  <div class="container">
    <div class="row l-step-2">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="tenant-step-1.html">1</a></li>
          <li class="active"><a href="tenant-step-2.html">2</a></li>
					<li><a href="tenant-step-3.html">3</a></li>		
					<li><a href="tenant-step-4.html">4</a></li>
					<li><a href="tenant-step-5.html">5</a></li>
					<li><a href="tenant-step-6.html">6</a></li>
        </ul>
      </div>
      <div class="col-sm-11">
       	<%= form_for @request, :url => {:action => "step3"} do |f| %>
        <div class="row">
         	<div class="col-sm-8 l-left-step-sec-01">
           	<div class="step-header">
             	<span class="location-2"><%= image_tag 'choice.png' %></span>
              <span class="step-name">Step 2</span>
            </div>
            <h2 class="heading-level-01">Which Type of Home Are You Looking For? </h2>
            <div class="row">
              
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Apartment/Condo/Loft' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'apartments.png' %> <%= image_tag 'apartments-active.png' %></span>
                    <div class="text-label">Apartment/
                      Condo/Loft</div>
                  </div>
                </label>
              </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'House' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'house.png' %> <%= image_tag 'house-active.png' %></span>
                    <div class="text-label">House</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Separate
                    room' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'hotel-2.png' %> <%= image_tag 'hotel-2-active.png' %></span>
                    <div class="text-label">Separate
                      room</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Townhouse' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'block.png' %> <%= image_tag 'block-active.png' %></span>
                    <div class="text-label">Townhouse</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Studio' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'hotel-1.png' %> <%= image_tag 'hotel-1-active.png' %></span>
                    <div class="text-label">Studio</div>
                  </div>
                  </label>
                </div>

                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :home_type, 'Assisted Living' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'doctor.png' %><%= image_tag 'doctor-active.png' %> </span>
                    <div class="text-label">Assisted Living</div>
                  </div>
                  </label>
                </div>
            </div>  
                         
                        <div class="row">
                         	<div class="col-md-12">
                            	<ul class="l-step-2-bed-list">
                                	<li> <span class="bed-image"><%= image_tag 'bed-icon.png' %></span> <span class="count-bed-sec">
              <%= f.select :bed_room, [["1",1], ["2",2], ["3",3], ["4+",4]] %>
              </span> <span class="number-bed-text">number of bedrooms</span> </li>
            <li> <span class="bed-image"><%= image_tag 'bathtub-icon.png' %></span> <span class="count-bed-sec">
              <%= f.select :bath_room, [["1",1], ["2",2], ["3",3], ["4+",4]] %>
              </span> <span class="number-bed-text">number of bathrooms</span> </li>

                                    
                                </ul>
                            </div>
                         </div> 
                    </div>
                    
                    <div class="col-sm-4">
                    	<div class="step-rt-img-sec">
                    	<%= image_tag 'tenant-image-step-2.jpg' %>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                	<div class="col-sm-12">
                    	<div class="step-btn-pagination">
                        	<a href="<%= step1_path %>" class="blue-outline-btn">Previous Step</a>                        	
                          <%= f.submit "Next step →", class: "primary-btn arrow-rt" %>
                        </div>
                    </div>
                </div>
              <% end %>  
            </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->