<section class="landloard-step-sec" id="step4">
  <div class="container">
    <div class="row l-step-4">
      <div class="col-sm-1">
        <ul class="step-list">
          <li class="active-done"><a href="tenant-step-1.html">1</a></li>
          <li class="active-done"><a href="tenant-step-2.html">2</a></li>
					<li class="active-done"><a href="tenant-step-3.html">3</a></li>		
					<li class="active"><a href="tenant-step-4.html">4</a></li>
					<li><a href="tenant-step-5.html">5</a></li>
					<li><a href="tenant-step-6.html">6</a></li>
        </ul>
      </div>
      
      <div class="col-sm-11">
        <%= form_for @request, :url => {:action => "step5"} do |f| %>
        <div class="row">
          <div class="col-sm-8 l-left-step-sec-01">
            <div class="step-header">
              <span class="location-2"><%= image_tag 'tenant-step-4.png' %></span>
              <span class="step-name">Step 4</span>
            </div>
            <h2 class="heading-level-01">Additional<br>
            Requirements</h2>
                            
            <div class="row">
              <div class="col-sm-12">
                <p class="select-step-lebel">Select if you have ...</p>
              </div> 

              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_dogs %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'pet.png' %> <%= image_tag 'pet-active.png' %></span>
                    <div class="text-label">Dogs</div>
                  </div>
                </label>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_cats %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'cat.png' %> <%= image_tag 'cat-active.png' %></span>
                    <div class="text-label">Cats</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-12">
                <p class="select-step-lebel">Select if you...</p>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_smoking %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'smoke.png' %> <%= image_tag 'smoke-active.png' %></span>
                    <div class="text-label">Smoking</div>
                  </div>
                </label>
              </div>
              <div class="col-sm-3 check-property-step">
                <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.check_box :is_wheelchair %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'wheelchair.png' %> <%= image_tag 'wheelchair-active.png' %></span>
                    <div class="text-label">Wheelchair
                      Access</div>
                  </div>
                </label>
              </div>
            </div>  
          </div>
                    
          <div class="col-sm-4">
           	<div class="step-rt-img-sec">
             	<%= image_tag 'tenant-image-step-4.jpg' %>
            </div>
          </div>
        </div>
                
        <div class="row">
         	<div class="col-sm-12">
           	<div class="step-btn-pagination">
             	<a href="<%= step3_path %>" class="blue-outline-btn">Previous Step</a>
              <%= f.submit "Next step →", class: "primary-btn arrow-rt" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
      
  </div>
</section>
  <!-- landloard-profile end here -->