<section class="landloard-step-sec" id="step5">
    <div class="container">
      <div class="row l-step-5">
        <div class="col-sm-1">
          <ul class="step-list">
            <li class="active-done"><a href="tenant-step-1.html">1</a></li>
            <li class="active-done"><a href="tenant-step-2.html">2</a></li>
            <li class="active-done"><a href="tenant-step-3.html">3</a></li>
            <li class="active-done"><a href="tenant-step-4.html">4</a></li>
            <li class="active"><a href="tenant-step-5.html">5</a></li>
            <li><a href="tenant-step-6.html">6</a></li>
          </ul>
        </div>
        <div class="col-sm-11">
          <%= form_for @request, :url => {:action => "step6"} do |f| %>
          <div class="row">
            <div class="col-sm-8 l-left-step-sec-01">
              <div class="step-header"> <span class="location-2"><%= image_tag 'calendar.png' %></span> <span class="step-name">Step 5</span> </div>
              <h2 class="heading-level-01">When Are You Looking To Move?</h2>
              <p class="p-step">Choose the dutarion of stay</p>
              <div class="row">
                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :duration, '1-3' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">1-3 Months</div>
                  </div>
                  </label>
                </div>
                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :duration, '3-6' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">3-6 Months</div>
                  </div>
                  </label>
                </div>
                <div class="col-sm-3 check-property-step">
                  <label class="remember-sec user-label landlord">
                  <div class="inner-user-bx">
                    <%= f.radio_button :duration, '6+' %>
                    <span class="checkmark"></span> <span class="user-icon"><%= image_tag 'calendar-star.png' %> <%= image_tag 'calendar-star-active.png' %></span>
                    <div class="text-label">6+ Months</div>
                  </div>
                  </label>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="p-step">What is the monthly rent?</p>
                  <label>Select Date: </label>
                  <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                    <%= f.date_field :arrival_date, class: "form-control" %>
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mt-3">
                  <label>Choose a room type</label>
                  <div class="price-select-sec">
                    <%= f.select :room_type, [["Entire","Entire"], ["Private","Private"], ["Shared","Shared"]], {class: "arrow-select"} %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mt-3">
                  <label>Accommodate </label>
                  <div class="price-select-sec">
                    <%= f.select :accommodate, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], {class: "arrow-select"} %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="step-rt-img-sec"> <%= image_tag 'tenant-image-step-5.jpg' %> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="step-btn-pagination"> <a href="<%= step4_path %>" class="blue-outline-btn">Previous Step</a> 
                <%= f.submit "Next step →", class: "primary-btn arrow-rt" %> </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- landloard-profile end here -->