<section class="banner-wrapper" style="background:url(<%= image_url('landloard-hero-image.jpg')%>) right top no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 lft-bnr-sec">
        	<div class="bnr-inr-content">
			<h1 class="heading-level-01">Find The Right<br>
 Tenant Today</h1>
<p>Finding the right tenants can be a pain in you know what. With Homie, you are only contacted by people who match your home. Only pay for the requests you like!</p>    
 
<div class="start-btn-sec">
	<a href="<%= new_property_path %>" class="primary-btn arrow-rt">Start</a>
</div>
</div>     
      </div>      
    </div>
    </div>
  </section> 
  <!-- banner-wrapper end here -->
  
  <section class="home-sec-2" id="sec-2">
  		<div class="container">
        
        	<div class="row">
        		<div class="col-md-6">
                	<h2 class="heading-level-02">What Is Homie?</h2>
                    <div class="home-sec-lft">
                    	<p>Homie is a service that connects landlords and tenants. Goodbye to the days of sorting through unqualified applications.</p>
                	</div>
                </div> 
                <div class="col-md-6">
                	<div class="row">
                    	<div class="col-sm-4">
                        	<%= image_tag("image-1.png", :alt => "") %>
                        </div>
                        <div class="col-sm-4">
                        	<%= image_tag("image-2.png", :alt => "") %>
                        </div>
                        <div class="col-sm-4">
                        	<%= image_tag("image-3.png", :alt => "") %>
                        </div>
                    </div>
                </div>
            
            </div>		
        </div>
  </section>
  <!-- home-sec-2 end here -->
  
  <section class="home-sec-3">
  		<div class="container">
        	<div class="row">
            	<div class="col-md-12 home-inr-sec-3" style="background:url(<%= image_path('landloar-pic-01.jpg') %>) left top no-repeat;">
                	<div class="row">
                    	<div class="col-md-4"></div>
                        <div class="col-md-8">
                        <div class="home-w-sec-3">
                        <div>
                        <h4 class="heading-level-04">Add</h4>
                        <h2 class="heading-level-02">Your Property</h2>
                        <p>First upload your home. Be sure to use nice pictures and provide a nice description of the location.</p>
                        <a href="<%= new_property_path %>" class="primary-btn arrow-rt">Get Started</a>
                        </div> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
  <!-- home-sec-3 end here -->
  
  <section class="home-sec-4" style="background:url(<%= image_url('bruno-gomiero.png') %>) right top no-repeat">
  	  <div class="container">
      	   <div class="row">
           		<div class="col-md-4">
                <h4 class="heading-level-04">Receive</h4>
                	<h2 class="heading-level-02">Tenant Enquiries</h2>
<p>We handle all requests from people enquiring about your property and pass them on to you by text or email. You then contact them directly.</p>
                </div>
           </div>
      </div>
  </section>
  <!-- home-sec-4 end here -->
  
  <section class="home-sec-5">
  	<div class="container">
    	<div class="row">
        	<div class="col-md-6 interested-gallery-sec">
            	<%= image_tag("landloard-pic-02.jpg", :alt => "") %>
                <span class="landloard-sm-pic"><%= image_tag("landloard-pic-03.png", :alt => "") %></span>
            </div>
            
            <div class="col-md-6">
            	<h4 class="heading-level-04">Start Earning Money</h4>
                <h2 class="heading-level-02">For Renting Your Home</h2>
                <p>After arranging a viewing with the most suitable tenants who have enquired, you then show them around your property. </p>
            </div>
        </div>
    </div>
  </section>
  <!-- home-sec-5 end here -->
   
  <section class="home-sec-6" style="background:url(<%= image_url('newpic.jpg')%>) 0 0 no-repeat; background-position: bottom; background-size: contain;">
  		<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<a href="<%= new_property_path %>" class="default-btn newpicbutton">Get Stated Now!</a>
                </div>
            </div>
        </div>
  </section>
  <!-- home-sec-6 end here -->
  
  <section class="home-sec-7">
  		<div class="container">
        	<div class="row">
            	<div class="col-md-8">
                	<h4 class="heading-level-04">Check Out Our</h4>
                    <h2 class="heading-level-02">Latest Insights</h2>
                </div>
                <div class="col-md-4 text-right">
                	<a href="#" class="show-all-link">Show all</a>
                </div>
            </div>
        </div>
        
        <div class="latest-insights-slider owl-carousel owl-theme">
  			<div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            
         </div>
  </section>
  <!-- home-sec-7 end here -->