<section class="banner-wrapper" style="background:url(<%= image_url('home-hero-image.jpg') %>) right top no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 lft-bnr-sec">
        	<div class="bnr-inr-content">
			<h1 class="heading-level-01">Fastest Way To Find<br>

a Place To Live</h1>
<p>From single rooms to apartments and entire houses, we make finding a place to live "almost" enjoyable. </p>    
<div class="hero-select-bx">
</div> 
<div class="start-btn-sec">
	<a href="<%= new_request_path %>" class="primary-btn arrow-rt">Start</a>
</div>
</div>     
      </div>      
    </div>
    </div>
  </section> 
  <!-- banner-wrapper end here -->
  
  <section class="home-sec-2" id="sec-2">
  		<div class="container">
        
        	<div class="row">
        		<div class="col-md-6">
                	<h2 class="heading-level-02">What Is Homie?</h2>
                    <div class="home-sec-lft">
                    	<p>Homie is a service that connects landlords and tenants. Goodbye to the days of sorting through unqualified applications.</p>
                	</div>
                </div> 
                <div class="col-md-6">
                	<div class="row">
                    	<div class="col-sm-4">
                        	<%= image_tag("image-1.png", :alt => "") %>
                        </div>
                        <div class="col-sm-4">
                        	<%= image_tag("image-2.png", :alt => "") %>
                        </div>
                        <div class="col-sm-4">
                        	<%= image_tag("image-3.png", :alt => "") %>
                        </div>
                    </div>
                </div>
            
            </div>		
        </div>
  </section>
  <!-- home-sec-2 end here -->
  
  <section class="home-sec-3">
  		<div class="container">
        	<div class="row">
            	<div class="col-md-12 home-inr-sec-3" style="background:url(<%= image_url('pic5.png') %>) left top no-repeat;">
                	<div class="row">
                    	<div class="col-md-4"></div>
                        <div class="col-md-8">
                        <div class="home-w-sec-3">
                        <div>
                        <h4 class="heading-level-04">Just Tell Us</h4>
                        <h2 class="heading-level-02">What You Like</h2>
                        <p>No more endless hunts. No mystery. Homie is a completely free app that does the work for you. Just tell us what you like and we match you with available homes.</p>
                        <a href="<%= new_request_path %>" class="primary-btn arrow-rt">Get Started</a>
                        </div> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
  <!-- home-sec-3 end here -->
  
  <section class="home-sec-4" style="background:url(<%= image_url('profile-bg.png')%>) right top no-repeat">
  	  <div class="container">
      	   <div class="row">
           		<div class="col-md-4">
                	<h2 class="heading-level-02">Complete<br>

Your Profile</h2>
<p>Don't be shy! Complete your profile. That way landlords can tell you apart from the crazy neighbor down the street.</p>
                </div>
           </div>
      </div>
  </section>
  <!-- home-sec-4 end here -->
  
  <section class="home-sec-5">
  	<div class="container">
    	<div class="row">
        	<div class="col-md-6 interested-gallery-sec">
            	<%= image_tag("Interested-image.png", :alt => "") %>
            </div>
            
            <div class="col-md-6">
            	<h4 class="heading-level-04">Receive Invites From</h4>
                <h2 class="heading-level-02">Interested Landlords</h2>
                <p>No more hunting people down. You will only receive messages from interested landlords, hello 21st century.</p>
            </div>
        </div>
    </div>
  </section>
  <!-- home-sec-5 end here -->
   
  <section class="home-sec-6" style="background:url(<%= image_url('get-started-bg.jpg') %>) 0 0 no-repeat;">
  		<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<a href="<%= new_request_path %>" class="default-btn">Get Started now!</a>
                </div>
            </div>
        </div>
  </section>
  <!-- home-sec-6 end here -->
  
  <section class="home-sec-7">
  		<div class="container">
        	<div class="row">
            	<div class="col-md-8">
                	<h4 class="heading-level-04">Check Out Our</h4>
                    <h2 class="heading-level-02">Latest Insights</h2>
                </div>
                <div class="col-md-4 text-right">
                	<a href="#" class="show-all-link">Show all</a>
                </div>
            </div>
        </div>
        
        <div class="latest-insights-slider owl-carousel owl-theme">
  			<div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            <div class="item">
            	<figure>
                	<%= image_tag("slide-image-1.jpg", :alt => "") %>
                </figure>
                <figcaption>
                	<div class="latest-header">
                    	<span class="latest-cstegory">Homes + Experiences</span>
                        
                        <span class="date-content">10/02/2019</span>
                    </div>
                	<h3 class="heading-level-03">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem... <a href="#">Read More</a></p>
                </figcaption>
            </div>
            
         </div>
  </section>
  <!-- home-sec-7 end here -->
