<section class="sign-sec">
      <div class="container">
          <div class="row">
              <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                  <h1 class="heading-level-01">Sign In</h1>
                    <div class="signin-outline">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "signin-form"}) do |f| %>
  
                        <div class="form-group">
                          <span class="mail-icon"><%= image_tag("email.png", :alt => "mail-icon") %></span>    
                          <%= f.email_field :email, placeholder: "johndoe@gmail.com", class: "form-control", autofocus: true, autocomplete: "email" %>
                        </div>

                        <div class="form-group">
                          <span class="lock-icon"><%= image_tag("lock.png", :alt => "padlock") %> </span>
                          <%= f.password_field :password, class: "form-control", id: "password-input",placeholder:'password', autocomplete: "current-password" %>    
                          <span class="visible-pw not-visible-pw">
                            <%= image_tag("not-visible.png", :alt => "visible") %>
                            <%= image_tag("visible.png", :alt => "visible") %>
                          </span>
                        </div>

                        <div class="form-group text-left">
                          <% if devise_mapping.rememberable? %>
                            <label class="remember-sec">Remember Me
                              <%= f.check_box :remember_me, {:checked => true} %>
                              <span class="checkmark"></span>
                            </label>
                          <% end %>
                          <%= link_to "Forgot Password?", new_password_path(resource_name), class: "forgot-pw" %>
                        </div>
                        <div class="form-group">
                          <%= f.submit "Sign in", class: "primary-btn" %>    
                        </div>  
                      <% end %>                    
                    </div>
                    <p>Don’t Have an Account? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
                </div>
            </div>
        </div>
  </section>

