<div class="l-sidebar aside-1">
  <div class="landloard-profile-inbox">
    <% if @landlord %>
      <%= showavatar(@landlord.user) %>
    <% else %>
      <%= showavatar(current_user) %>
    <% end %>

    
  </div>
  <ul class="l-menu">
              
    <li class="<%= cp(properties_path) %>"> <a href="<%= properties_path %>"><span class="l-p-icon"><%= image_tag 'home-icon.png' %></span> Properties</a></li>
    <% if profile(current_user) %>
      <li class="<%= cp(landlord_path(profile(current_user))) %>"> 
        <a href="<%= landlord_path(profile(current_user)) %>"><span class="l-p-icon">                
          <%= image_tag 'user.png' %>                
        </span>Profile</a>
      </li>
    <% else %>
      <li class="<%= cp(create_profile(current_user)) %>"> 
        <a href="<%= create_profile(current_user) %>"><span class="l-p-icon">                
          <%= image_tag 'user.png' %>                
        </span>Profile</a>
      </li>
    <% end %>
    <li class="<%= cp(conversations_path) %>"><a href="<%= conversations_path %>"><span class="l-p-icon"><%= image_tag "mail-icon-grey.png" %></span> Messages</a></li>
    <li class="<%= cp(edit_user_registration_path) %>"><a href="<%= edit_user_registration_path %>"><span class="l-p-icon"><%= image_tag 'padlock-grey.png' %></span>Security</a></li>
    <% if current_user.stripe_id  %>
      <li class="<%= cp(payment_method_path) %>"><a href="<%= payment_method_path %>"><span class="l-p-icon"><%= image_tag 'credit-card.png' %></span>Update Credit Card</a></li>
    <% else %>
      <li class="<%= cp(payment_method_path) %>"><a href="<%= payment_method_path %>"><span class="l-p-icon"><%= image_tag 'credit-card.png' %></span> Add Credit Card</a></li>
    <% end %>
              
              
    <li class="logout-link">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="l-p-icon"><%= image_tag 'logout.png' %></span>Log out
      <% end %>
    </li>
  </ul>
  <div class="l-side-btn-sec"> <a href="#" class="light-blue-btn">+ New Property</a> </div>
</div>