<h1>Landlords#show</h1>
<div class="container">
	<p><%= @landlord.first_name %></p>
	<p><%= @landlord.last_name %></p>
	<p><%= @landlord.information %></p>
	<p><%= @landlord.phone_number%></p>
	<div>
		<%= image_tag @ladnlord.image %>
	</div>
</div>
