<!DOCTYPE html>
<html>
  <head>
    <title>Homie</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="canvas">
        <% if (!request.fullpath.include?('requests/new') && !request.fullpath.include?('properties/new')) %>
            <% if user_signed_in? %>
              <%= render 'shared/header' %>
            <% else %>
              <%= render 'shared/notlogedheader' %>
            <% end %>
        <% end %>    
       
        
        
        <!-- header end here -->
      <%= render 'shared/message'%>
      <% if current_user %>
        <input type="hidden" id="user_id" value="<%= current_user.id %>">
      <% end %>
      <%= yield %>
        <% if (!request.fullpath.include?('requests/new') && !request.fullpath.include?('properties/new')) %>
          <%= render 'shared/footer' %>
        <% end %>
      
      <!-- footer end here -->    
    </div>
<!-- canvas end here --> 
  </body>
</html>
