<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NS7KXD9');</script>
    <!-- End Google Tag Manager -->
    <title>Homie</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <% if Rails.env.production? %>
      
      
      <!-- Facebook Pixel Code -->
      <script>
       !function(f,b,e,v,n,t,s)
       {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
       n.callMethod.apply(n,arguments):n.queue.push(arguments)};
       if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
       n.queue=[];t=b.createElement(e);t.async=!0;
       t.src=v;s=b.getElementsByTagName(e)[0];
       s.parentNode.insertBefore(t,s)}(window, document,'script',
       'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '903181686719425');
       fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=903181686719425&ev=PageView&noscript=1(44 B)
      https://www.facebook.com/tr?id=903181686719425&ev=PageView&noscript=1
      "
      /></noscript>
      <!-- End Facebook Pixel Code -->
    <% end %>
    
  </head>

  <body>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS7KXD9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      <div class="canvas">
        
            <% if user_signed_in? %>
              <%= render 'shared/header' %>
            <% else %>
              <% if (!request.fullpath.include?('requests/new') && !request.fullpath.include?('properties/new')) %>
                <%= render 'shared/notlogedheader' %>
               <% end %>  
            <% end %>
           
       
        
        
        <!-- header end here -->
      <%= render 'shared/message'%>
      <% if current_user %>
        <input type="hidden" id="user_id" value="<%= current_user.id %>">
      <% end %>
      <%= yield %>
        <% if user_signed_in? %>
          <%= render 'shared/footer' %>
        <% else %>
          <% if (!request.fullpath.include?('requests/new') && !request.fullpath.include?('properties/new')) %>
            <%= render 'shared/footer' %>
          <% end %>
        <% end %>
        
      
      <!-- footer end here -->    
    </div>
<!-- canvas end here --> 
  </body>
</html>
